<!doctype html>
<html class="html can-hover" lang="en">
<head>
    {{> partials/head}}
</head>
<body class="body">
<div class="container">
<section>
    <div class="row">
        <h1>Frontend Examples</h1>
    </div>
</section>
<section>
    <div class="row">
        <ul>
            <li>
                <a href="/modules/table.html">Table</a>
            </li>
        </ul>
    </div>
</section>
</div>

{{> partials/scripts}}
</body>
</html>
